<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pharmacy_Management_System.Properties.Settings.ConnectionString"
            connectionString="Data Source=ORCL;User ID=scott;Password=tiger;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="Pharmacy_Management_System.Properties.Settings.pharmacyMan"
            connectionString="Data Source=ORCL;User ID=pharmacy;Password=pharmacy;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>